* {
  box-sizing: border-box;
}
header {
  background-color: #666;
  height: 100px;
  text-align: center;
  color: white;
  width: 100%;
  position: sticky;
  top:0px;
  overflow: hidden;
}
header h2{
  font-size: 50px;
  font-weight: bold;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  display:block;
  width: 10%;
  height: 100%;/* only for demonstration, should be removed */
  background: #ccc;
  position:fixed;
  top:100px;
  left:0;
}
.dropbtn1{
  background: white;
 color: black;
 padding: 16px;
 border:none;
border-bottom: 2px solid #666;
 font-size: 18px;
 width: 100%;
}
.dropbtn1 a{
  color: black;
  text-decoration: none;
}
.dropbtn1 a:hover{
  color: black;
  text-decoration: none;
}
.dropbtn1:hover{
  color: black;
  text-decoration: none;
  background-color:#ccc;
}
/*
.dropbtn {
  background: white;
 color: black;
 padding: 16px;
 font-size: 18px;
 border: none;
 cursor: pointer;
 width: 100%;
border-bottom: 2px solid #666;
}

.dropdown {
 position: relative;
 display: inline-block;
 width: 100%;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 float: left;
 margin-left: 190px;
 margin-top: -30px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {
  background: #ccc;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
 display: block;
}

.dropdown:hover .dropbtn {
 background-color: white;
 color: black;
}*/

article{
margin-top:0px;
  width:100%;
  height:100%;
  background: #f1f1f1;
  padding:20px;
}
 .resume1{
margin-top:0px;
  width:100%;
  height:100%;
  background: #f1f1f1;
  padding:20px;
}

footer{
    width: 100%;
  overflow: hidden;
  background-color: #777;
    text-align: center;
    color: white;
   font-size:12px;
   position: fixed;
   bottom:0;
}

.col-25 {
  float: left;
  width: 25%;
  text-align: right;
  padding-right: 15px;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  text-align: left;
  margin-top: 6px;
}
.col-md-2{
  text-align: right;
}
.left {
  margin:0;
}
#date{
  width:100%;}
#place{
  width:100%;
}

.submit{
margin-left:50%;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article,.resume1 {
    width: 100%;
    height: 100%;
  }
  nav ul li a{
    padding:4px;
     float:left;
  }
}
